<div class="crumbs" xstyle="margin-top:1.1em;">
  <%= link_to 'Categories'[:categories_title], home_path %> <span class="arrow">&rarr;</span>
  <%= link_to h(@category.name), category_path(@category) %> <span class="arrow">&rarr;</span>
</div>


<h1 id="new_question"><%= 'New Question'[] %></h1>
<p class="subtitle"><%= 'by {user}'[:by_user, current_user.display_name] %></p>


<%= error_messages_for :question %>
<% form_for :question,
     :url  => questions_path(@category) do |f| -%>
<%= render :partial => "form", :object => f %>
<%= submit_tag 'Post Question'[], :or => link_to('Cancel'[], category_path(@category)) %>
<% end -%>

<%= javascript_tag "$('question_title').focus();" %>

