<% @page_title = @user.display_name -%>

<% content_for :right do %>
<% if admin? %>
<% form_for :user, :url => admin_user_path(@user), :html => {:class => "xdialog"} do |f| -%>
  <h6><%= 'Admin &amp; Moderation'[:admin_and_moderation] %></h6>

  <% unless @user.categories.empty? -%>

	<p><%= 'This user can moderate the following categories.  Click one to remove.'[:remove_moderated_category] %></p>

  <ul class="flat">
  <% @user.categories.find(:all, :select => "#{Category.table_name}.*, #{Moderatorship.table_name}.id as moderatorship_id").each do |category| -%>
    <li>
      <%#= link_to category.name, category_path(category), :class => "hidden" %>
      <%#= link_to 'remove', moderator_path(@user, category.moderatorship_id), :method => :delete %>
      <%= link_to category.name, user_moderator_path(@user, category.moderatorship_id), :method => :delete, :confirm => "#{'Remove user as moderator for'[:remove_user_as_moderator]} #{category.name}?" %>
    </li>
  <% end -%>
  </ul>
  <% end -%>

  <p>
	<label><%= 'Add as moderator'[] %></label><br />
	<select name="moderator">
    <option value="-"></option>
    <%= options_from_collection_for_select(Category.find(:all, :order => 'position') - @user.categories, "id", "name") %>
  </select></p>

  <p><label><%= f.check_box :admin %> <%= 'User is an administrator'[] %></label></p>

  <p><%= submit_tag 'Save'[:save_title] %></p>
<% end -%>
<% end -%>
<% end %>

<p style="float:right;"><%= avatar_for @user, 80 %></p> 

<h1><%=h @user.display_name %> </h1>

<p class="subtitle">
  <%= feed_icon_tag @user.display_name, formatted_user_answers_path(:user_id => @user, :format => :rss) %>
  <span>
    <%= '{count} questions'[(count=@user.questions.size)==1 ? :question_count : :questions_count, number_with_delimiter(count)] %>, 
    <%= '{count} answers'[(count=@user.answers.size)==1 ? :answer_count : :answers_count, number_with_delimiter(count)] %>
    (<%= 'view'[] %> <%= link_to 'all'[:view_all], user_answers_path(@user) %> | 
    <%= link_to 'monitored'[], monitored_answers_path(@user) %> <%= 'answers'[] %>)<br />
  </span>
</p>

<%= @user.bio_html %>

<% unless @user.website.blank? -%>
<p><strong><%= 'Website:'[:website_title] %></strong> <%= white_list link_to(@user.website.gsub("http://",""), "http://" + @user.website.gsub("http://","")) %>
<% end -%>
<p><%= 'User since'[] %> <%= @user.created_at.to_date.to_s :long %></p>

