<div id="edit" class="editbox">
<div class="container">
  <% remote_form_for :answer, :url => answer_path(:category_id => @answer.category_id, :question_id => @answer.question_id, :id => @answer), 
    :html => { :method => :put }, :before => "$('editbox_spinner').show();" do |f| -%>

  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td rowspan="2" width="70%">
        <%= f.text_area :body, :rows => 10, :id => "edit_answer_body", :tabindex => 1 %>
      </td>
      <td valign="top">

        <%= link_to('delete answer'[], answer_path(:category_id => @answer.question.category, :question_id => @answer.question, :id => @answer, :page => params[:page]), 
              :class => "utility", :method => :delete, :confirm => "Delete this answer?  Are you sure?"[:delete_answer_conf]) %>  


        <h5><%= 'Formatting Help'[] %></h5>

        <ul class="help">
          <li><%= '*bold*'[:formatting_bold] %></li>
          <li><%= '_italics_'[:formatting_italics] %></li>
          <li><%= 'bq. <span>(quotes)</span>'[:formatting_blockquote] %></li>
          <li>"IBM":http://www.ibm.com</li>
          <li><%= '* or # <span>(lists)</span>'[:formatting_list] %></li>
        </ul>

      </td>
    </tr>
    <tr>
      <td valign="bottom" style="padding-bottom:15px;">
        <%= ajax_spinner_for "editbox", "spinner_black.gif" %>
        <%= submit_tag 'Save Changes'[], :or => link_to_function('cancel'[], "EditForm.cancel()"), :tabindex => 2 %>
      </td>
    </tr>
  </table>
  <% end -%>
</div>
</div>