<% content_for :right do %>

<h5><%= 'What is Beast?'[:beast_sidebar_title] %></h5>

<p>
  <%= 'A small, light-weight category in Rails with a scary name and a goal of around 500 lines of code when we\'re done.'[:beast_sidebar_body] %>
</p>

<% if admin? %>
<h6><%= 'Admin'[:admin_title] %></h6>
<p><%= link_to 'Create New Category'[:create_new_category], new_category_path, :class => "utility" %></p>
<% end %>

<% end %>

<h1 style="margin-top:0;"><%= 'Categories'[:categories_title] %></h1>
<p class="subtitle">
<%= feed_icon_tag "Recent Posts"[:recent_posts], formatted_all_posts_path(:format => 'rss') %>
<%= '{count} question(s)'[(count=Question.count)==1 ? :question_count : :questions_count, number_with_delimiter(count)] %>, 
<%= '{count} post(s)'[(count=Post.count)==1 ? :post_count : :posts_count, number_with_delimiter(count)] %>, <%= '{count} voice(s)'[(count=User.count(:conditions => "posts_count > 0"))==1 ? :voice_count : :voices_count, number_with_delimiter(count)] %>
  
</p>

<table border="0" cellspacing="0" cellpadding="0" class="wide categories">
  <tr>
    <th class="la" width="70%" colspan="3"><%= 'Category'[:category_title] %></th>
<!--
    <th width="5%">Questions</th>
    <th width="5%">Posts</th>
-->
    <th class="la" width="30%" colspan="1"><%= 'Last Post'[:last_post] %></th>
  </tr>
<% for category in @categories do %>  
  <tr>
    <td class="vat c1">
    
      <% if recent_category_activity(category) %>
      <%= image_tag "clearbits/comment.gif", :class => "icon green", :title => 'Recent activity'[:recent_activity] %>
      <% else %>
      <%= image_tag "clearbits/comment.gif", :class => "icon grey", :title => 'No recent activity'[:no_recent_activity] %>
      <% end %>
    </td>
    <td class="c2 vat">
      <%= link_to h(category.name), category_path(category), :class => "title" %>
      <div class="posts">
        <%= '{count} questions'[(count=category.questions.size)==1 ? :question_count : :questions_count, number_with_delimiter(count)] %>, 
        <%= '{count} posts'[(count=category.posts.size)==1 ? :post_count : :posts_count, number_with_delimiter(count)] %>
      </div>
      <p class="desc"><%= category.description_html %>
        </p>
    </td>
    <td class="c3">
      <%= link_to 'Edit'[:edit_title], edit_category_path(category), :class => "tiny", :rel => "directory", :style => "float:right" if admin? %>
    </td>

    <td class="inv lp">
      <% if category.recent_post %>
        <%= time_ago_in_words(category.recent_post.created_at) %><br />
        <%= 'by {user}'[:by_user,"<strong>#{h(category.recent_post.user.display_name)}</strong>"] %>
        <span>(<%= link_to 'view'[], question_path(:category_id => category, :id => category.recent_post.question_id, :page => category.recent_post.question.last_page, :anchor => category.recent_post.dom_id) %>)</span>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to 'Recent posts'[:recent_posts], all_posts_path %>
</p>

<% online_users = User.currently_online -%>
<% unless online_users.empty? %>
<div class="stats">
<div class="users">
<% unless online_users.empty? %>
<%= 'Users online:'[:users_online] %> <%= online_users.map { |u| link_to "<strong>#{h u.display_name}</strong>", user_path(u) } * ", " %><br />
<% end %>
</div>
</div>
<% end %>

