<% content_for :right do %>

<% unless @category.description.blank? %>
<%= @category.description_html %>
<hr />
<% end %>

<h5 style="margin-bottom:1.0em;"><%= 'Moderators'[:moderators] %></h5>

<% unless @category.moderators.empty? -%>
<ul class="flat" style="margin-top:1em;">
<% @category.moderators.each do |user| -%>
  <li><%= link_to user.display_name, user_path(user) %></li>
<% end -%>
</ul>
<% else -%>
<p><%= 'This category is currently unmoderated.'[:category_is_unmoderated] %></p>
<p><%= 'Please always be courteous.'[:please_be_courteous] %></p>
<% end -%>

<% end %>

<% @page_title = @category.name %>

<div class="crumbs">
<%= link_to 'Categories'[:categories_title], home_path %> <span class="arrow">&rarr;</span>
</div>
<h1 style="margin-top:0.5em">
  <%= h @category.name %>
</h1>

<p class="subtitle">
  <%= feed_icon_tag @category.name, formatted_category_posts_path(@category, :rss) %> 
  <%= '{count} question(s)'[(count=@category.questions.size)==1 ? :question_count : :questions_count, number_with_delimiter(count)] %>, 
  <%= '{count} post(s)'[(count=@category.posts.size)==1 ? :post_count : :posts_count, number_with_delimiter(count)] %>
</p>

<% if @questions.total_pages > 1 -%>
<% if logged_in? %>
<p style="float:right; margin-top:0;"><%= link_to 'New question'[], new_question_path(@category), :class => "utility" %></p>
<% end %>
<%= pagination @questions %>
<% end -%>

<table border="0" cellspacing="0" cellpadding="0" class="wide questions">
<tr>
  <th class="la" colspan="2"><%= 'Question'[:question_title] %></th>
  <th width="1%"><%= 'Posts'[:posts_title] %></th>
  <th width="1%"><%= 'Views'[:views_title] %></th>
  <th class="la"><%= 'Last post'[:last_post] %></th>
</tr>
<% for question in @questions %>
<tr class="hentry">
  <td style="padding:5px; width:16px;" class="c1">
    <% 
    icon = "comment"
    color = ""
    if question.locked?
      icon = "lock"
      post = ", this question is locked."[:comma_locked_question]
      color = "darkgrey"
    end
    %>
    <% if recent_question_activity(question) %>
    <%= image_tag "clearbits/#{icon}.gif", :class => "icon green", :title => "Recent activity"[]+"#{post}" %>
    <% else %>
      <%= image_tag "clearbits/#{icon}.gif", :class => "icon grey #{color}", :title => "No recent activity"[]+"#{post}" %>
    <% end %>
  </td>
  <td class="c2">
    <%= "Sticky"[:sticky_title]+": <strong>" if question.sticky? %>
    <%= question_title_link (question), :class => "entry-title", :rel => "bookmark" %>
    <%#= link_to h(question.title), question_path(@category, question), :class => "entry-title", :rel => "bookmark" %>
    <%= "</strong>" if question.sticky? %>
    <% if question.paged? -%>
    <small><%= link_to 'last'[], question_path(:category_id => @category, :id => question, :page => question.last_page) %></small>
    <% end -%>
  </td>
  <td class="ca inv stat"><%= question.posts.size %></td>
  <td class="ca inv stat"><%= number_with_delimiter(question.views) %></td>
  <td class="lp">
    <abbr class="updated" title="<%= question.replied_at.xmlschema %>"><%= time_ago_in_words(question.replied_at) %></abbr>
    <%= 'by {user}'[:by_user, "<span class=\"author\"><strong class=\"fn\">#{h(question.replied_by_user.display_name)}</strong></span>"] %>
    <span><%= link_to 'view'[], question_path(:category_id => @category, :id => question, :page => question.last_page, :anchor => "posts-#{question.last_post_id}") %></span>
  </td>
</tr>
<% end %>
</table>

<%= next_page @questions %>
<%= pagination @questions %>

<% if logged_in? %>
<p><%= link_to 'New question'[:new_question], new_question_path(@category), :class => "utility" %></p>
<% end%>
